.play-bg-wrapper {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 150px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
}

.play-content-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

.play-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.play-list-top-item {
  display: flex;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    width: 630px;
    position: relative;
  }
}

.play-list-bottom-item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    width: 630px;
    position: relative;
  }
}

.play-item-text-wrapper {
  max-width: 158px;

  @include media(desktop) {
    max-width: 196px;
  }
}

.play-item-bottom-text-wrapper {
  max-width: 158px;
  text-align: right;

  @include media(desktop) {
    max-width: 196px;
  }
}

.play-item-text {
  font-family: 'Fredoka', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #002033;
}

.play-top-left-ball-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    top: 47px;
    right: 67px;
  }
}

.play-bottom-left-ball-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 34px;
    left: 27px;
  }
}

.play-top-right-ball-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    top: 48px;
    right: 110px;
  }
}

.play-bottom-right-ball-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 53px;
    left: 55px;
  }
}
