<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <h2 class="section-title about-title">About the Game</h2>
    <div class="container about-container">
      <picture>
        <source
          srcset="./img/about/about-bg-desk.png"
          media="(min-width: 1440px)"
          width="325"
          height="184"
        />
        <source
          srcset="./img/about/about-bg-mob.png"
          width="375"
          height="212"
        />
        <img
          class="about-bg-img"
          src="./img/about/about-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="212"
          loading="lazy"
        />
      </picture>
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <p class="about-text">
            <span class="about-span">Bounce Mania</span> is a thrilling arcade
            platformer that puts your reflexes to the test. Guide a bouncy ball
            through trap-filled levels using simple one-tap controls. Jump over
            spikes, avoid lasers, and keep the momentum going as you unlock
            rewards and strive for the highest score. Perfect for quick sessions
            with long-term replayability.
          </p>
        </div>
      </div>
      <img
        class="about-img-desk"
        src="./img/about/about-img-desk.png"
        alt="Screenshot of the game"
        width="325"
        height="184"
        loading="lazy"
      />
    </div>
  </div>
</section>
