<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <h2 class="section-title features-title">Features</h2>
    <div class="container features-container">
      <picture>
        <source
          srcset="./img/features/features-bg-desk.png"
          media="(min-width: 1440px)"
          width="493"
          height="328"
        />
        <source
          srcset="./img/features/features-bg-mob.png"
          width="375"
          height="249"
        />
        <img
          class="features-bg-img"
          src="./img/features/features-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="249"
          loading="lazy"
        />
      </picture>
      <div class="features-content-wrapper">
        <ul class="features-list">
          <li class="features-list-item">
            <h3 class="features-item-title">Arcade Challenge</h3>
            <p class="features-item-text">
              Leap from platform to platform in rapid succession.
            </p>
          </li>
          <li class="features-list-item">
            <h3 class="features-item-title">Collect & Unlock</h3>
            <p class="features-item-text">
              Gather stars to unlock custom skins and boosters.
            </p>
          </li>
          <li class="features-list-item">
            <h3 class="features-item-title">Trap-Filled Levels</h3>
            <p class="features-item-text">
              Navigate lasers, spikes, and crumbling floors.
            </p>
          </li>
          <li class="features-list-item">
            <h3 class="features-item-title">Smooth Controls</h3>
            <p class="features-item-text">
              Simple tap-based mechanics for all skill levels.
            </p>
          </li>
          <li class="features-list-item">
            <h3 class="features-item-title">Pulse-Pounding Music</h3>
            <p class="features-item-text">
              Energetic tracks to keep the pace alive.
            </p>
          </li>
        </ul>
      </div>
      <img
        class="features-img-desk"
        src="./img/features/features-img-desk.png"
        alt="Screenshot of the game"
        width="493"
        height="330"
        loading="lazy"
      />
    </div>
  </div>
</section>
