<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <picture>
        <source
          srcset="./img/hero/hero-title-desk.png"
          media="(min-width: 1440px)"
          width="522"
          height="313"
        />
        <source
          srcset="./img/hero/hero-title-mob.png"
          width="335"
          height="200"
        />
        <img
          class="hero-title-img"
          src="./img/hero/hero-title-mob.png"
          alt="Title"
          width="335"
          height="200"
        />
      </picture>
    </div>
  </div>
</section>
