<section class="section play-section" id="play">
  <div class="play-bg-wrapper">
    <h2 class="section-title play-title">How to Play</h2>
    <div class="container play-container">
      <div class="play-content-wrapper">
        <div class="play-list">
          <div class="play-list-top-item">
            <picture>
              <source
                srcset="./img/play/play-img1-desk.png"
                media="(min-width: 1440px)"
                width="197"
                height="197"
              />
              <source
                srcset="./img/play/play-img1-mob.png"
                width="158"
                height="158"
              />
              <img
                class="play-img"
                src="./img/play/play-img1-mob.png"
                alt="Screenshot of the game"
                width="158"
                height="158"
                loading="lazy"
              />
            </picture>
            <div class="play-item-text-wrapper">
              <p class="play-item-text">
                Tap once to bounce, time it right to land.
              </p>
            </div>
            <img
              class="play-top-left-ball-img"
              src="./img/play/play-top-left-ball.png"
              alt="Ball"
              width="73"
              height="71"
            />
          </div>
          <div class="play-list-bottom-item">
            <picture>
              <source
                srcset="./img/play/play-img2-desk.png"
                media="(min-width: 1440px)"
                width="197"
                height="197"
              />
              <source
                srcset="./img/play/play-img2-mob.png"
                width="158"
                height="158"
              />
              <img
                class="play-img"
                src="./img/play/play-img2-mob.png"
                alt="Screenshot of the game"
                width="114"
                width="158"
                height="158"
              />
            </picture>
            <div class="play-item-bottom-text-wrapper">
              <p class="play-item-text">
                Collect stars while avoiding obstacles.
              </p>
            </div>
            <img
              class="play-bottom-left-ball-img"
              src="./img/play/play-bottom-left-ball.png"
              alt="Ball"
              width="105"
              height="102"
            />
          </div>
        </div>
        <div class="play-list">
          <div class="play-list-top-item">
            <picture>
              <source
                srcset="./img/play/play-img3-desk.png"
                media="(min-width: 1440px)"
                width="197"
                height="197"
              />
              <source
                srcset="./img/play/play-img3-mob.png"
                width="158"
                height="158"
              />
              <img
                class="play-img"
                src="./img/play/play-img3-mob.png"
                alt="Screenshot of the game"
                width="158"
                height="158"
                loading="lazy"
              />
            </picture>
            <div class="play-item-text-wrapper">
              <p class="play-item-text">
                Use your stars to unlock cool new looks.
              </p>
            </div>
            <img
              class="play-top-right-ball-img"
              src="./img/play/play-top-right-ball.png"
              alt="Ball"
              width="58"
              height="56"
            />
          </div>
          <div class="play-list-bottom-item">
            <picture>
              <source
                srcset="./img/play/play-img4-desk.png"
                media="(min-width: 1440px)"
                width="197"
                height="197"
              />
              <source
                srcset="./img/play/play-img4-mob.png"
                width="158"
                height="158"
              />
              <img
                class="play-img"
                src="./img/play/play-img4-mob.png"
                alt="Screenshot of the game"
                width="114"
                width="158"
                height="158"
              />
            </picture>
            <div class="play-item-bottom-text-wrapper">
              <p class="play-item-text">
                Complete daily challenges to boost your score.
              </p>
            </div>
            <img
              class="play-bottom-right-ball-img"
              src="./img/play/play-bottom-right-ball.png"
              alt="Ball"
              width="93"
              height="90"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
